@tailwind base;
@tailwind components;
@tailwind utilities;


.fondo1{
	background-color: #0b184b;
	opacity: 0.91;
	
}

.fondo-cover {
	background-image: url("../media/cover2.jpeg");
}

.altura-cover{
	min-height: 75vh;
}

.svg1{
	height: 70px;
}

.svg2{
	height: 80px;
}

.asesores{
	max-width: 120px;
}

.transicion{
	transition: all 0.15s ease 0s;
}

